.TEXT{
    display: flex;
    flex-flow: row nowrap;
    margin-top: 70px;
}
.TEXT-DETAILS{
    background-color: #fff;
    width: 250px;
    height: 300px;
    margin-left: 100px;
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
}
.TEXT-DETAILS img{
    height: 250px;
    width: 200px;
    margin-left: 20px;
    border: 1px solid;
    margin-top: 10px;
}
.TEXT-DETAILS a button{
    background-color: green;
    color: rgb(51, 41, 120);
    font-weight: bolder;
    text-align: center;
    margin-top: 8px;
    border-radius: 15px;
    border: 3px solid green;
    width: 100%;
    height: 30px;
    font-size: 20px;
}
.TEXT-HEAD{
    color: #fff;
    text-align: center;
    margin-top: 50px;
}
.TEXT-DETAILS a button:hover{
    width: 90%;
    margin-left: 10px;
}
@media screen and (max-width:468px) {
    .TEXT{
        display: flex;
        flex-flow: column nowrap;
    }
    .TEXT-DETAILS{
        margin-top: 45px;
        margin-left: 50px;
    }
}
@media screen and (max-width:300px){
    .TEXT-DETAILS{
        margin-top: 45px;
        margin-left: 30px;
    }
}